body {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Avro';
    display: flex;
    flex-direction: column;
}

.fields {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}